   <h1>Recover Your Password</h1>
   <%= form_tag recover_send_path do %>
    Please provide us with your email that you used to sign up.<br/>

    <br /> 
    <%= text_field_tag :email, "",:id => "recover_email" ,:class => "textbox", :placeholder => "Email"%>
	<br />
	<br />
      <%= submit_tag "Recover", :class => "button left login_btn" %>
        <div class="left" style="margin-top:20px;">
        <%= link_to "Sign up", new_user_path , :class => "register" %><br />
        <%= link_to "Log in", new_session_path , :class => "login" %>
    </div>

   <% end %>
   <br />

   <script type="text/javascript">
   jQuery(function(){
        jQuery("#recover_email").validate({
            expression: "if (VAL.match(/^[^\\W][a-zA-Z0-9\\_\\-\\.]+([a-zA-Z0-9\\_\\-\\.]+)*\\@[a-zA-Z0-9_]+(\\.[a-zA-Z0-9_]+)*\\.[a-zA-Z]{2,4}$/)) return true; else return false;",
            message: "Please enter a valid email",
             error_field_class: "field_with_errors",
            error_class: "error_message"
        });
	});
  </script>
